* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: verdana, tahoma, arial;
  font-size: 10pt;
  text-align: center;
}
#bodywrap {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid red;
}
#header: {
  height: 75px;
  font-size: 14pt;
  text-align: center;
}
#gamearea {
  background: #555555;
  color: white;
  height: 500px;
}
.gameblock {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid blue;
  background: #aaaaff;
}
.gameblock.left {
  float: left;
}